/*latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(../../fonts/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(../../fonts/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Lato Bold'), local('Lato-Bold'),
		url(../../fonts/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Lato Bold'), local('Lato-Bold'),
		url(../../fonts/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

body {
	background-color: #eee !important;
	font-family: 'Lato' !important;
}

#all {
	background-image: url(/weblsp-client/img/login/login_bg.jpg);
	background-repeat: no-repeat;
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
}

#main {
	background: #fff;
	border-radius: 10px;
	width: 600px !important;
	height: 350px !important;
	-webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
}

#logoImage,
#logo2Image {
	max-width: 250px;
}

#logo,
#logo2 {
	max-width: 250px;
	top: 30px !important;
	width: 250px;
	background-image: none !important;
}

#logo {
	left: 0 !important;
}

#logo2 {
	right: 0 !important;
	padding-right: 10px !important;
}

#bottom {
	position: absolute;
	right: 10px;
	top: 330px !important;
}

#bottom span {
	color: #000 !important;
}

#bottom form {
	left: inherit !important;
	right: 0 !important;
}

#bottom span span {
	line-height: 20px;
}

select {
	background-image: none !important;
	background-color: #e5e5e5 !important;
	height: 22px !important;
	border-radius: 3px;
	box-shadow: none;
	outline: 0 !important;
	border: 0 !important;
	margin-right: 20px !important;
}

#middle {
	top: 40% !important;
	height: auto !important;
}

#middle .info {
	margin-top: 60px !important;
	border-radius: 5px !important;
	border: 0 !important;
}

#usernameLabel,
#passwordLabel {
	color: #aaa !important;
	font-weight: 100 !important;
	font-size: 14px !important;
}

form td {
	width: 50%;
}

input.submit {
	position: absolute;
	left: 0;
	top: 40%;
}

#j_username,
#j_password,
input.greenInput {
	background-color: #eee !important;
	background-image: none;
	border-color: #ddd !important;
	border-style: solid;
	width: 100% !important;
	margin-right: 0 !important;
	padding: 10px !important;
	font-size: 14px !important;
	margin-top: 5px !important;
	border-radius: 5px !important;
	max-width: 220px !important;
}

div#remindPasswordLinkDiv {
	width: 98%;
	text-align: right;
}

a#remindPasswordLink {
	color: #999;
	line-height: 20px !important;
	font-weight: 300;
	font-size: 11px;
}

input.submit {
	position: absolute !important;
	left: 30%;
	top: 43%;
	background: #b4d62b !important;
	color: #fff !important;
	float: none !important;
	text-shadow: none !important;
	text-indent: inherit !important;
	letter-spacing: 0 !important;
	font-size: 18px !important;
	font-weight: 500 !important;
	font-family: 'Lato';
	margin-left: 0 !important;
	width: 200px !important;
	border-radius: 5px !important;
	height: 36px !important;
	transition: 150ms;
	cursor: pointer;
}

input.submit:hover,
input.submit:active {
	background: #ddd;
	color: #231f20;
	transition: 300ms;
	left: 30% !important;
	color: #444 !important;
	background: #eee;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	-webkit-box-shadow: 3px 2px 6px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 2px 6px -2px rgba(0, 0, 0, 0.2);
}

input:focus {
	border: 1px solid #b4d62b;
	outline: 1px solid #b4d62b;
}

a.submit,
a.submitBack {
	position: absolute !important;
	color: #fff !important;
	float: none !important;
	text-shadow: none !important;
	text-indent: inherit !important;
	letter-spacing: 0 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	font-family: 'Lato';
	margin-left: 0 !important;
	width: 160px !important;
	border-radius: 5px !important;
	height: 26px !important;
	transition: 150ms;
	cursor: pointer;
	line-height: 10px !important;
}

a.submit,
a.submit:active {
	right: 130px;
	background: #b4d62b !important;
	top: 20px;
	left: inherit !important;
}

a.submitBack,
a.submitBack:active {
	right: -40px;
	background: #aaa !important;
	top: 20px;
}

.error {
	position: absolute;
	top: -320px;
	border-radius: 5px;
	z-index: 100;
}

label {
	color: #000;
	margin-right: 20px;
}

.section span {
	color: #000;
}

#bottom form span {
	min-width: 137px !important;
}

#middle img {
	display: none;
}

#middle .rich-datalist li a {
	font-size: 18px;
	line-height: 26px;
}

#bottom img {
	margin-top: -35px !important;
	max-width: 120px;
	float: right;
}

.appListLink:hover {
	color: #000 !important;
}

input.passwordChange {
	height: 20px;
	margin-bottom: 5px;
	width: 200px;
	margin-top: 5px;
	background: #eee;
	border: 1px solid #ccc;
}

#forcedPWchangeForm a {
	top: 160px;
	right: 160px;
	background: #bbb !important;
}

#forcedPWchangeForm a[type='submit'] {
	right: -30px !important;
	background: #b4d62b !important;
}
