@charset "UTF-8";
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url(../../../../../../../../../fonts/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url(../../../../../../../../../fonts/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"), url(../../../../../../../../../fonts/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"), url(../../../../../../../../../fonts/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: "Lato" !important;
}

.rich-tool-tip {
  border-radius: 5px;
  border: 1px solid #bbb;
  font-size: 12px !important;
  line-height: 18px !important;
  font-weight: 300;
  padding: 4px 10px !important;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.rich-tool-tip span {
  font-size: 12px !important;
}

.rich-tool-tip span font {
  font-size: 12px !important;
}

/* top bar height fix */
.yui-layout-unit-left,
.yui-layout-unit-center {
  top: 130px !important;
}

/* //top bar height fix */
/* top */
.yui-layout-unit-top {
  height: 130px !important;
}

.yui-layout-unit-top .yui-layout-wrap {
  height: 130px !important;
}

.yui-layout-unit-top #header img {
  height: 75px !important;
  max-height: 75px !important;
  margin-left: 25px !important;
  margin-top: 10px !important;
}

.yui-layout-unit-top .operator {
  top: inherit;
  background: #b4d62b;
  width: 100%;
  left: 0;
  padding-left: 10px;
  color: #fff !important;
  bottom: 0px !important;
  padding-bottom: 3px;
}

.yui-layout-unit-top .operator .operatorPanel {
  margin-top: 1px !important;
}

.yui-layout-unit-top .operator .operatorPanel a,
.yui-layout-unit-top .operator .operatorPanel,
.yui-layout-unit-top .operator .operatorName a,
.yui-layout-unit-top .operator .operatorName,
.yui-layout-unit-top .operator .operatorLabel a,
.yui-layout-unit-top .operator .operatorLabel {
  font-size: 12px !important;
  color: #fff !important;
  line-height: 16px !important;
}

.yui-layout-unit-top .operator .operatorPanel tr {
  display: inline-block;
  padding-right: 30px;
}

.yui-layout-unit-top .operator .operatorPanel tr span {
  font-size: 11px !important;
}

.yui-layout-unit-top .sellnet {
  right: 15px !important;
  left: inherit !important;
  top: 98px;
}

.yui-layout-unit-top .sellnet .inplaceStyle {
  color: #fff;
  background: none !important;
}

.yui-layout-unit-top .sellnet .operatorLabel {
  color: #fff !important;
}

.yui-layout-unit-top .yui-layout-bd {
  background: url(../../../../../../../../../img/header_ilp.jpg) !important;
  background-position: top left !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
  border: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.yui-layout-unit-top .menu {
  top: 75px !important;
}

.yui-layout-unit-top .menu .operatorLabel {
  color: #fff !important;
}

.yui-layout-unit-top .menu li {
  height: 24px !important;
  line-height: 24px !important;
  margin-right: 5px;
  border-radius: 3px;
}

.yui-layout-unit-top .menu li a {
  font-size: 14px !important;
  color: #000 !important;
  border-radius: 3px;
  margin-left: 0 !important;
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
  border: 0;
  background: rgba(255, 255, 255, 0.75);
}

.yui-layout-unit-top .menu li a:visited {
  color: inherit !important;
}

.yui-layout-unit-top .menu li a:hover {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 2px 6px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 2px 6px -2px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #b4d62b;
}

.yui-layout-unit-top .menu li:last-child a {
  background: #000 !important;
  color: #b4d62b !important;
  border: 0;
}

.yui-layout-unit-top .menu li:last-child a:hover {
  color: #fff !important;
  border-bottom: 2px solid #b4d62b;
}

/* side menu */
.yui-layout-unit-left .rich-toolbar {
  background: #eee !important;
  color: #000 !important;
  border-bottom: 2px solid #ddd;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

.yui-layout-unit-left .yui-layout-bd-noft {
  top: 32px !important;
}

.yui-layout-unit-left .yui-layout-clip {
  background: #eee !important;
}

.yui-layout-unit-left .rich-tree a {
  font-size: 12px !important;
  font-family: "Lato";
  color: #000 !important;
  line-height: 25px !important;
}

.yui-layout-unit-left .rich-tree-h-ic-img {
  -webkit-filter: hue-rotate(27deg);
          filter: hue-rotate(27deg);
}

.yui-layout-unit-left .selectedTreeMenuNode {
  font-weight: 800;
  background-color: #eee;
  border: 2px solid #b4d62b;
  padding-left: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.yui-layout-unit-left #left1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #fafafa 0%, rgba(255, 255, 255, 0) 100%);
}

.yui-layout-unit-left #left1 a {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.yui-layout-unit-left .rich-tree-node-text a:hover {
  text-decoration: none;
  background-color: #eee !important;
  color: #57626a;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.yui-layout-unit-left .yui-layout-bd {
  border: 0 !important;
}

.yui-layout-unit-left .collapse {
  background: #ddd !important;
  background-image: none !important;
  border: 1px solid #ccc;
  border-radius: 1px;
  height: 14px !important;
  width: 14px !important;
  top: 7px !important;
  right: 4px !important;
}

.yui-layout-unit-left .collapse::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #999 transparent transparent;
  margin: 3px 4px;
  display: block;
}

.yui-layout-clip-left {
  background: #ddd !important;
  border-color: #ccc !important;
  top: 130px !important;
}

.yui-layout-clip-left .collapse {
  border: 1px solid #ccc !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 3px !important;
  background: #fff !important;
  border-radius: 1px;
  height: 14px !important;
  width: 14px !important;
  top: 7px !important;
}

.yui-layout-clip-left .collapse::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #999 transparent transparent;
  margin: 3px 4px;
  display: block;
}

/* content */
.yui-layout-unit-center {
  /* input exception */
  /* kalkulacja - ZAPIS OPERACJI */
  /* //kalkulacja - zapis operacji */
  /* rich panele - harmonijka (kalkulacje, nowa kalkulacja, kontrahent) */
  /* nowa kalkulacja - finansowanie */
  /* // nowa kalkulacja - finansowanie */
}

.yui-layout-unit-center #reportPanel {
  border-radius: 3px;
}

.yui-layout-unit-center #reportPanel #reportPanel_header {
  font-size: 14px;
  line-height: 16px;
  padding: 3px 10px 5px;
  background: #ddd;
}

.yui-layout-unit-center #center1 {
  padding-bottom: 35px;
}

.yui-layout-unit-center #DfeContractSearchForm {
  padding: 5px;
}

.yui-layout-unit-center .rich-tab-inactive:hover {
  color: #777;
  outline: 1px solid #ccc !important;
}

.yui-layout-unit-center #operationsSTP_body #choicePathPanel {
  -webkit-column-count: 2;
          column-count: 2;
}

.yui-layout-unit-center .viewsourcelooklink {
  padding: 3px 10px;
  font-size: 14px;
  cursor: pointer;
  color: #555 !important;
  border: 2px solid #b4d62b;
  border-radius: 20px;
  background: #fff;
}

.yui-layout-unit-center .viewsourcepanel {
  background-color: rgba(180, 214, 43, 0.2) !important;
}

.yui-layout-unit-center .viewsourcehidelink,
.yui-layout-unit-center .viewsourceheader {
  background: #ddd !important;
  color: #000 !important;
}

.yui-layout-unit-center textarea,
.yui-layout-unit-center input[type="text"],
.yui-layout-unit-center select {
  background-image: none !important;
}

.yui-layout-unit-center option {
  font-size: 12px;
  height: 18px !important;
  line-height: 14px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.yui-layout-unit-center input:focus,
.yui-layout-unit-center textarea:focus,
.yui-layout-unit-center select:focus {
  outline-color: #b4d62b;
  background: rgba(0, 0, 0, 0.01);
}

.yui-layout-unit-center input[type="text"],
.yui-layout-unit-center select {
  font-size: 14px;
  height: 26px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 3px;
  min-width: 250px;
  padding-left: 5px;
}

.yui-layout-unit-center .rich-spinner-input {
  border: 0 !important;
  width: 35px !important;
  max-width: 35px !important;
  min-width: 35px !important;
  height: 20px !important;
}

.yui-layout-unit-center .rich-spinner-input:focus {
  border: 0 !important;
}

.yui-layout-unit-center td.dr-subtable-cell.rich-subtable-cell {
  white-space: nowrap;
}

.yui-layout-unit-center input[value="Przygotuj kalkulację"] {
  font-size: 18px;
  background: #b4d62b;
  padding: 7px 30px 9px;
  border: 0;
  color: #fff;
  font-weight: 500;
  margin: 5px 10px 25px !important;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.6);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.yui-layout-unit-center input[value="Przygotuj kalkulację"]:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 2px 6px 7px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 6px 7px -4px rgba(0, 0, 0, 0.6);
}

.yui-layout-unit-center .rich-toolbar {
  background: #eee !important;
  color: #000;
  height: 50px !important;
  border-bottom: 2px solid #ddd;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  margin-bottom: 10px;
}

.yui-layout-unit-center .rich-toolbar-item {
  font-size: 18px !important;
  color: #000 !important;
}

.yui-layout-unit-center .komunikat {
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 17px;
}

.yui-layout-unit-center .yui-layout-bd-nohd {
  border-top: 0 !important;
}

.yui-layout-unit-center .yui-layout-bd {
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 1px solid #ddd !important;
}

@media (max-height: 1000px) {
  .yui-layout-unit-center .yui-layout-bd {
    height: 95% !important;
  }
}

@media (max-height: 820px) {
  .yui-layout-unit-center .yui-layout-bd {
    height: 94% !important;
  }
}

@media (max-height: 650px) {
  .yui-layout-unit-center .yui-layout-bd {
    height: 92% !important;
  }
}

.yui-layout-unit-center #panelWorkFlowLink input[type="text"],
.yui-layout-unit-center #panelWorkFlowLink select {
  font-size: 14px;
  height: 26px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 3px;
  min-width: 250px;
  padding-left: 5px;
}

.yui-layout-unit-center #panelWorkFlowLink textarea {
  font-size: 14px;
  min-height: 66px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 3px;
  min-width: 250px;
  padding-left: 5px;
}

.yui-layout-unit-center fieldset {
  border-radius: 5px;
  margin: 10px;
  max-width: 100%;
}

.yui-layout-unit-center fieldset:nth-child(2) {
  background: #fafafa;
}

.yui-layout-unit-center fieldset a,
.yui-layout-unit-center fieldset p {
  font-size: 15px;
  line-height: 25px;
}

.yui-layout-unit-center fieldset > tr {
  height: 30px !important;
}

.yui-layout-unit-center fieldset textarea[id^="memoField"] {
  padding: 10px;
  font-size: 15px;
}

.yui-layout-unit-center fieldset .rich-subtable-cell a.displayInlineNoMargin {
  font-size: 12px !important;
  display: inline-block;
  margin-left: 5px !important;
  padding: 0 5px 3px;
  background: #b4d62b;
  height: 22px;
  border-radius: 3px;
  color: #555;
  border: 1px solid #b4d62b;
}

.yui-layout-unit-center fieldset .rich-subtable-cell a.displayInlineNoMargin:hover {
  border-color: #000;
  text-decoration: none;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tab-bottom-line {
  text-align: left;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tab-header {
  font-size: 15px;
  padding: 9px 14px 11px;
  background: #efefef !important;
  border: 0;
  cursor: pointer;
  height: 30px;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tab-active {
  background: #fff !important;
  padding-top: 6px !important;
  border-top: 4px solid #b4d62b !important;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content #basePanel {
  width: 100%;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content #basePanel tr td table {
  width: 100%;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content #basePanel tr td table td:first-child {
  width: 40%;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content #basePanel tr td table td:first-child input[type="text"],
.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content #basePanel tr td table td:first-child textarea {
  width: 100%;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content #basePanel tr td table td:nth-child(2) input[type="text"],
.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content #basePanel tr td table td:nth-child(3) input[type="text"] {
  width: 40px;
  margin-left: 30px !important;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content #basePanel tr:nth-child(odd) {
  background: #fafafa !important;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content textarea#field_long {
  width: 100%;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content label {
  font-size: 14px;
  line-height: 30px;
  padding-left: 10px;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content input[type="text"],
.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content select {
  height: 30px !important;
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 5px !important;
  font-size: 14px !important;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content textarea {
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 5px !important;
  font-size: 14px !important;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content input:focus,
.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content textarea:focus,
.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content select:focus {
  outline-color: #b4d62b;
  background: rgba(0, 0, 0, 0.01);
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content input {
  width: 40%;
}

.yui-layout-unit-center fieldset .rich-stglpanel-body .rich-tabpanel-content select {
  width: 40.7%;
}

.yui-layout-unit-center legend {
  font-size: 14px;
  font-weight: 700;
}

.yui-layout-unit-center .top-anuluj-button,
.yui-layout-unit-center #workflowToolBar2 #WorkFlowCommandButtonAbort2,
.yui-layout-unit-center #WorkFlowCommandButtonBack2,
.yui-layout-unit-center .buttonAbort {
  font-size: 15px !important;
  padding: 6px 20px;
  outline: 0;
  border: 0;
  margin: 0 10px;
  background: #bbb !important;
  color: #fff !important;
  border-radius: 3px;
  cursor: pointer;
}

.yui-layout-unit-center .top-anuluj-button:hover,
.yui-layout-unit-center #workflowToolBar2 #WorkFlowCommandButtonAbort2:hover,
.yui-layout-unit-center #WorkFlowCommandButtonBack2:hover,
.yui-layout-unit-center .buttonAbort:hover {
  opacity: 0.8;
}

.yui-layout-unit-center .top-zapisz-button,
.yui-layout-unit-center #workflowToolBar2 #WorkFlowCommandButtonNext2,
.yui-layout-unit-center input[value="Zapisz"] {
  font-size: 17px !important;
  padding: 6px 50px;
  outline: 0;
  border: 0;
  margin: 0 10px;
  background: #b4d62b !important;
  color: #fff !important;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.6);
}

.yui-layout-unit-center .top-zapisz-button:hover,
.yui-layout-unit-center #workflowToolBar2 #WorkFlowCommandButtonNext2:hover,
.yui-layout-unit-center input[value="Zapisz"]:hover {
  background: #000 !important;
  color: #b4d62b !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
}

.yui-layout-unit-center #BilbordShowForm span {
  font-size: 16px;
  margin-top: 20px !important;
  display: block;
  color: #444;
}

.yui-layout-unit-center #BilbordShowForm #messagesList span {
  margin-top: 0 !important;
  line-height: 26px;
}

.yui-layout-unit-center #WorkFlowForm .nipSearch {
  padding: 4px 12px 5px !important;
  border: 1px solid #b4d62b !important;
  color: #000 !important;
  background: #fff !important;
  background-image: none;
  border-radius: 3px;
  position: absolute;
  margin-top: -30px;
  margin-left: 203px;
  cursor: pointer;
  display: block;
  height: inherit !important;
  font-size: 11px !important;
}

.yui-layout-unit-center #WorkFlowForm .nipSearch:hover {
  background: #b4d62b !important;
}

.yui-layout-unit-center #WorkFlowForm .rich-panel {
  border-radius: 7px 7px 4px 4px;
}

.yui-layout-unit-center #WorkFlowForm .rich-panel-header {
  font-size: 14px;
  line-height: 32px;
  background-image: none !important;
  background-color: #fafafa;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.yui-layout-unit-center #WorkFlowForm a[id^="LEASING_PRODUCT_"] {
  line-height: 35px !important;
  font-size: 16px !important;
}

.yui-layout-unit-center #WorkFlowForm .rich-table-subheadercell {
  background: #eee;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
}

.yui-layout-unit-center #WorkFlowForm .rich-table-cell {
  font-size: 14px;
  line-height: 16px;
  padding-left: 13px;
}

.yui-layout-unit-center #WorkFlowForm .rich-table-cell input[type="text"],
.yui-layout-unit-center #WorkFlowForm .rich-table-cell select,
.yui-layout-unit-center #WorkFlowForm .rich-table-cell textarea {
  font-size: 14px;
  padding-left: 10px;
}

.yui-layout-unit-center #WorkFlowForm .rich-table-cell input:focus,
.yui-layout-unit-center #WorkFlowForm .rich-table-cell textarea:focus {
  border: 1px #b4d62b inset;
  background: #fff;
}

.yui-layout-unit-center #WorkFlowForm #btnNewDfeContractObject,
.yui-layout-unit-center #WorkFlowForm input[value="Dodaj"] {
  font-size: 16px;
  padding: 5px 30px 7px;
  margin: 10px;
  background-image: none;
  background-color: #fff;
  color: #000;
  border: 2px solid #b4d62b;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.yui-layout-unit-center #WorkFlowForm #btnNewDfeContractObject:hover,
.yui-layout-unit-center #WorkFlowForm input[value="Dodaj"]:hover {
  background: #b4d62b;
  color: #fff;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel {
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel p,
.yui-layout-unit-center .rich-panel .rich-stglpanel a,
.yui-layout-unit-center .rich-panel .rich-stglpanel td {
  font-size: 14px;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-body {
  padding: 5px 10px !important;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-body #panelKontrahent_body input[type="text"],
.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-body #panelKontrahent_body select {
  height: 26px !important;
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 1px !important;
  font-size: 14px !important;
  background-image: none !important;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-body #panelKontrahent_body input[type="text"]:focus,
.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-body #panelKontrahent_body select:focus {
  border-color: #b4d62b;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-body #panelKontrahent_body textarea {
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 1px !important;
  font-size: 14px !important;
  background-image: none !important;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-body #panelKontrahent_body textarea:focus {
  border-color: #b4d62b;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-header {
  background: #999 !important;
  color: #fff !important;
  background-image: none;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 15px;
  padding-bottom: 4px;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel .rich-stglpanel-header .rich-stglpanel-marker {
  font-size: 34px;
  margin-right: 10px;
  margin-top: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.yui-layout-unit-center .rich-panel .rich-stglpanel input#printScheduleButton {
  border: 0;
  font-size: 18px;
  padding: 5px 30px 7px;
  border-radius: 5px;
  background: #b4d62b;
  color: #fff;
  display: block;
  margin: 0 auto 20px;
  cursor: pointer;
}

.yui-layout-unit-center .rich-panel .rich-stglpanel input#printScheduleButton:hover {
  background: #000 !important;
  color: #b4d62b !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
}

.yui-layout-unit-center .rich-panel input[value="Anuluj"] {
  font-size: 15px !important;
  padding: 6px 20px;
  outline: 0;
  border: 0;
  margin: 0 10px;
  background: #bbb !important;
  color: #fff !important;
  border-radius: 3px;
  cursor: pointer;
}

.yui-layout-unit-center .rich-panel input[value="Anuluj"]:hover {
  opacity: 0.8;
}

.yui-layout-unit-center #calcSTP table {
  margin-top: 15px !important;
}

.yui-layout-unit-center #calcSTP input[type="text"],
.yui-layout-unit-center #calcSTP select {
  font-size: 14px;
  height: 26px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 3px;
  min-width: 250px;
  padding-left: 5px;
}

.yui-layout-unit-center #calcSTP input[type="button"],
.yui-layout-unit-center #calcSTP input[type="submit"] {
  font-size: 14px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-weight: 500;
  padding: 8px 30px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-left: 5px;
  margin-right: 5px;
}

.yui-layout-unit-center #calcSTP input[type="button"]:hover,
.yui-layout-unit-center #calcSTP input[type="submit"]:hover {
  border-color: #b4d62b;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.yui-layout-unit-center #calcSTP input[value="Przelicz"] {
  background: #b4d62b !important;
  font-weight: 700 !important;
}

.yui-layout-unit-center #calcSTP input[value="Przelicz"]:hover {
  background: #666 !important;
  color: #fff;
  border-color: #fff;
}

.yui-layout-unit-center #calcSTP input[value="Podgląd harmonogramu"] {
  font-weight: 700 !important;
  border: 1px solid #000 !important;
  background: #666 !important;
  color: #fff !important;
}

.yui-layout-unit-center #calcSTP input[value="Podgląd harmonogramu"]:hover {
  border-color: #b4d62b !important;
  color: #b4d62b !important;
}

/* -wybor produktu finansowego */
.fixedWorkflowBarOtherElements {
  min-height: 530px;
}

.fixedWorkflowBarOtherElements tr:nth-child(1) .rich-panel {
  position: absolute;
  left: 40px;
  top: 80px;
}

.fixedWorkflowBarOtherElements tr:nth-child(3) .rich-panel {
  position: absolute;
  top: 80px;
  left: 580px;
}

.fixedWorkflowBarOtherElements tr:nth-child(5) .rich-panel {
  position: absolute;
  top: 325px;
  left: 40px;
}

.fixedWorkflowBarOtherElements tr:nth-child(7) .rich-panel {
  position: absolute;
  left: 580px;
  top: 325px;
}

.fixedWorkflowBarOtherElements tr:nth-child(1) .rich-panel:hover,
.fixedWorkflowBarOtherElements tr:nth-child(3) .rich-panel:hover,
.fixedWorkflowBarOtherElements tr:nth-child(5) .rich-panel:hover,
.fixedWorkflowBarOtherElements tr:nth-child(7) .rich-panel:hover {
  border-color: #b4d62b;
}

.fixedWorkflowBarOtherElements tr:nth-child(1) .rich-panel:hover .rich-panel-header,
.fixedWorkflowBarOtherElements tr:nth-child(3) .rich-panel:hover .rich-panel-header,
.fixedWorkflowBarOtherElements tr:nth-child(5) .rich-panel:hover .rich-panel-header,
.fixedWorkflowBarOtherElements tr:nth-child(7) .rich-panel:hover .rich-panel-header {
  background-color: #b4d62d !important;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.fixedWorkflowBarOtherElements tr:nth-child(1) .rich-panel-header,
.fixedWorkflowBarOtherElements tr:nth-child(3) .rich-panel-header,
.fixedWorkflowBarOtherElements tr:nth-child(5) .rich-panel-header,
.fixedWorkflowBarOtherElements tr:nth-child(7) .rich-panel-header {
  font-size: 16px !important;
  line-height: 32px;
  background-image: none !important;
  background-color: rgba(180, 214, 45, 0.3) !important;
  text-align: center;
  border-radius: 5px 5px 0 0;
  color: #000;
  font-weight: 300;
  cursor: default;
  -webkit-transition: 300ms;
  transition: 300ms;
}

/* //-wybor produktu finansowego */
/* main content TABS */
.rich-datascr-act {
  border-top-color: #b4d62b;
  color: #000;
  font-size: 14px !important;
}

input[type="checkbox"] {
  min-width: 20px !important;
  width: 20px !important;
  display: inline-table !important;
  vertical-align: middle !important;
}

.rich-datalist .rich-list-item input[type="checkbox"] {
  margin-right: 10px !important;
}

.rich-panel-body {
  font-size: 14px !important;
}

.rich-tab-bottom-line {
  text-align: left;
}

.rich-tab-header {
  font-size: 12px;
  padding: 6px 9px 9px;
  background: #efefef !important;
  border: 0;
  cursor: pointer;
  height: 30px;
}

.rich-tab-active {
  background: #fff !important;
  padding-top: 6px !important;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 4px solid #b4d62b !important;
  font-weight: 600;
  font-size: 14px;
}

.rich-tabhdr-cell-disabled,
.rich-tabhdr-cell-inactive {
  padding-top: 6px !important;
}

.rich-tabpanel-content .rich-table td {
  font-size: 12px;
  line-height: 14px;
}

.rich-tabpanel-content .rich-table-subheader span,
.rich-tabpanel-content .rich-table-subheader div {
  font-size: 13px;
  line-height: 20px;
}

.rich-tabpanel-content textarea#field_long {
  width: 100%;
}

.rich-tabpanel-content label {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.rich-tabpanel-content input[type="checkbox"] {
  min-width: 20px !important;
  width: 20px !important;
  display: inline-table !important;
  vertical-align: middle !important;
}

.rich-tabpanel-content input[type="text"],
.rich-tabpanel-content select {
  height: 26px !important;
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 1px !important;
  font-size: 14px !important;
  background-image: none !important;
}

.rich-tabpanel-content textarea {
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 1px !important;
  font-size: 14px !important;
  background-image: none !important;
}

.rich-tabpanel-content input[type="text"]:focus,
.rich-tabpanel-content textarea:focus,
.rich-tabpanel-content select:focus {
  outline-color: #b4d62b;
  background: rgba(0, 0, 0, 0.01);
}

.rich-tabpanel-content > table input {
  width: 98%;
}

.rich-tabpanel-content > table input:nth-child(1) {
  min-width: 120px;
}

.rich-tabpanel-content > table textarea {
  width: 95%;
}

.rich-tabpanel-content > table select {
  width: 99.5%;
}

/* Search form */
#searchPanel #btnSearch,
#searchPanel .btnHarm,
#customerSearchForm #btnSearch,
#customerSearchForm .btnHarm {
  padding: 2px 30px !important;
  height: 30px !important;
  background: #b4d62b;
  color: #000;
  border: 1px solid #000 !important;
  margin-right: 10px !important;
  cursor: pointer;
}

#searchPanel #btnSearch:hover,
#searchPanel .btnHarm:hover,
#customerSearchForm #btnSearch:hover,
#customerSearchForm .btnHarm:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #000;
  color: #b4d62b;
  border-color: #b4d62b;
}

#searchPanel #btnClean,
#customerSearchForm #btnClean {
  cursor: pointer;
}

#searchPanel #btnClean:hover,
#customerSearchForm #btnClean:hover {
  background: #fff;
}

/* POPUP */
.rich-modalpanel .rich-mp-container {
  max-height: 100vh;
}

.rich-modalpanel .rich-mp-container .rich-mpnl-content {
  background-color: #fff;
  border-color: #fff;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.3);
}

.rich-modalpanel .rich-mp-container .rich-mpnl-shadow {
  display: none;
}

.rich-modalpanel .rich-mp-container .rich-mpnl-header {
  background: none;
  border: 0;
}

.rich-modalpanel .rich-mp-container .rich-mpnl-header-cell .rich-toolbar {
  background-image: none;
  background: #eee;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}

.rich-modalpanel .rich-mp-container .rich-toolbar-item {
  font-size: 15px;
  line-height: 22px;
}

.rich-modalpanel .rich-mp-container .rich-toolbar {
  background: 0;
  padding: 15px 0 0;
  border-top: 1px dashed #ddd;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.rich-modalpanel .rich-mp-container .rich-tab-bottom-line {
  text-align: left;
}

.rich-modalpanel .rich-mp-container .rich-tab-header {
  font-size: 12px;
  padding: 6px 9px 9px;
  background: #efefef !important;
  border: 0;
  cursor: pointer;
  height: 30px;
}

.rich-modalpanel .rich-mp-container .rich-tab-active {
  background: #fff !important;
  padding-top: 6px !important;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 4px solid #b4d62b !important;
  font-weight: 600;
  font-size: 14px;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content {
  font-size: 14px !important;
  line-height: 16px !important;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content textarea#field_long {
  width: 100%;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content label {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content input[type="checkbox"] {
  min-width: 20px !important;
  width: 20px !important;
  display: inline-table !important;
  vertical-align: middle !important;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content input[type="text"],
.rich-modalpanel .rich-mp-container .rich-tabpanel-content select {
  height: 26px !important;
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 1px !important;
  font-size: 14px !important;
  background-image: none !important;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content textarea {
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 1px !important;
  font-size: 14px !important;
  background-image: none !important;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content input:focus,
.rich-modalpanel .rich-mp-container .rich-tabpanel-content textarea:focus,
.rich-modalpanel .rich-mp-container .rich-tabpanel-content select:focus {
  outline-color: #b4d62b;
  background: rgba(0, 0, 0, 0.01);
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content > table input[type="text"] {
  width: 98%;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content > table input[type="text"]:nth-child(1) {
  min-width: 120px;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content > table input[type="text"][value="..."] {
  width: 40px !important;
  max-width: 40px !important;
  min-width: 40px !important;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content > table textarea {
  width: 95%;
}

.rich-modalpanel .rich-mp-container .rich-tabpanel-content > table select {
  width: 99.5%;
}

.rich-modalpanel input[value="Zatwierdź"],
.rich-modalpanel input[value="Zapisz"],
.rich-modalpanel input[value="OK"] {
  font-size: 18px;
  background: #b4d62b;
  padding: 7px 30px 9px;
  border: 0;
  color: #fff;
  font-weight: 500;
  margin: 0 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.6);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.rich-modalpanel input[value="Zatwierdź"]:hover,
.rich-modalpanel input[value="Zapisz"]:hover,
.rich-modalpanel input[value="OK"]:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 2px 6px 7px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 6px 7px -4px rgba(0, 0, 0, 0.6);
}

.rich-modalpanel input[value="Anuluj"] {
  font-size: 15px !important;
  padding: 6px 20px;
  outline: 0;
  border: 0;
  margin: 0 10px;
  background: #bbb !important;
  color: #fff !important;
  border-radius: 3px;
  cursor: pointer;
}

.rich-modalpanel input[value="Anuluj"]:hover {
  opacity: 0.8;
}

.rich-modalpanel input[value="Przelicz"] {
  font-size: 14px;
  background: #fff;
  border: 1px solid #ddd;
  font-weight: 500;
  padding: 5px 20px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-left: 5px;
  margin-right: 5px;
}

.rich-modalpanel input[value="Przelicz"]:hover {
  border-color: #b4d62b;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.rich-modalpanel input[value="Nowy kontrahent"] {
  font-size: 16px;
  padding: 5px 30px 7px;
  margin: 10px;
  background-image: none;
  background-color: #fff;
  color: #000;
  border: 2px solid #b4d62b;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.rich-modalpanel input[value="Nowy kontrahent"]:hover {
  background: #b4d62b;
  color: #fff;
}

.rich-modalpanel input[type="text"],
.rich-modalpanel select {
  height: 26px !important;
  padding-left: 5px !important;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
  margin: 1px !important;
  font-size: 14px !important;
  background-image: none !important;
}

.rich-modalpanel input[type="checkbox"] {
  min-width: 20px !important;
  width: 20px !important;
  display: inline-table !important;
  vertical-align: middle !important;
}

.rich-modalpanel .rich-datalist .rich-list-item input[type="checkbox"] {
  margin-right: 10px !important;
}

.rich-modalpanel .hidelink {
  margin-right: 16px;
  margin-top: 16px;
  width: 17px;
}

.rich-modalpanel label {
  font-size: 14px;
  line-height: 22px;
}

/* //popup */
/* BUTTONS */
/* -- dodaj bialy */
input[value="Dodaj"],
input[value="Kopiuj"],
input[value="Nowy wniosek"],
span[id*="printAllSelectedReportsButton"] a,
input[value="Edytuj"] {
  font-size: 16px !important;
  padding: 5px 30px 7px !important;
  margin: 10px !important;
  background-image: none !important;
  background-color: #fff !important;
  color: #000 !important;
  border: 2px solid #b4d62b !important;
  border-radius: 4px !important;
  font-weight: 700;
  cursor: pointer;
}

input[value="Dodaj"]:hover,
input[value="Kopiuj"]:hover,
input[value="Nowy wniosek"]:hover,
span[id*="printAllSelectedReportsButton"] a:hover,
input[value="Edytuj"]:hover {
  background: #b4d62b !important;
  color: #fff !important;
}

/* -- usun czarny */
input[value="Wyczyść"],
input[value="Usuń"] {
  font-size: 14px !important;
  padding: 5px 30px 7px !important;
  margin: 5px 10px !important;
  background-image: none !important;
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 4px !important;
  font-weight: 700;
  cursor: pointer;
}

input[value="Wyczyść"]:hover,
input[value="Usuń"]:hover {
  background: #b4d62b !important;
  color: #000 !important;
}

/* -- zapisz zielony */
input[value="Wybierz"],
input[value="Kopiuj wniosek"] {
  font-size: 17px !important;
  padding: 6px 50px;
  outline: 0;
  border: 0;
  margin: 0 10px;
  background: #b4d62b !important;
  color: #fff !important;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.6);
}

input[value="Wybierz"]:hover,
input[value="Kopiuj wniosek"]:hover {
  background: #000 !important;
  color: #b4d62b !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
}

/* -- szukaj zielony czarny */
input[value="Znajdź PKD"],
input[value="Znajdź EKD"],
input[value="Szukaj"],
a[id*="checkAllReports"] {
  padding: 2px 30px !important;
  height: 30px !important;
  background: #b4d62b;
  color: #000;
  border: 1px solid #000 !important;
  margin-right: 10px !important;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}

input[value="Znajdź PKD"]:hover,
input[value="Znajdź EKD"]:hover,
input[value="Szukaj"]:hover,
a[id*="checkAllReports"]:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #000;
  color: #b4d62b;
  border-color: #b4d62b;
}

/* -- drukuj bialy z zielonym (nipsearch) */
a[id*="printReport"] {
  padding: 4px 12px 5px !important;
  border: 1px solid #b4d62b !important;
  color: #000 !important;
  background: #fff !important;
  background-image: none;
  border-radius: 3px;
  cursor: pointer;
  height: inherit !important;
  font-size: 11px !important;
  line-height: 15px !important;
  display: block;
  max-width: 60px !important;
  text-align: center;
}

a[id*="printReport"]:hover {
  background: #b4d62b !important;
}

/* -- dots */
input[value="..."] {
  width: 30px !important;
  max-width: 30px !important;
  min-width: 30px !important;
  height: 30px !important;
  border: 1px solid #b4d62b !important;
  padding: 0 !important;
}

input[value="..."]:hover {
  border-color: #000;
}

/* -- disabled */
input[type="button"][disabled="disabled"] {
  background: #ccc !important;
  pointer-events: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #eee !important;
}

/* //buttons */
/* BOTTOM */
.yui-layout-unit-bottom {
  z-index: 1000 !important;
}

.yui-layout-unit-bottom #bottom1 {
  background: #fff !important;
  color: #666 !important;
}

.yui-layout-unit-bottom .yui-layout-bd-nohd {
  border-top: 1px solid #ddd !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}

/* MISC */
#waitModalPanel .rich-mpnl-mask-div {
  background: #000 !important;
}

#waitModalPanel .rich-mpnl-shadow {
  display: none !important;
}

#waitModalPanel .rich-mpnl-content {
  background-color: rgba(255, 255, 255, 0.99) !important;
  border: none !important;
  border-radius: 5px;
}

#waitModalPanel .rich-mpnl-header {
  background: #fff !important;
  border: 0 !important;
  text-align: center !important;
  font-size: 20px !important;
  font-weight: 100 !important;
  padding: 30px !important;
}

#waitModalPanel #waitModalForm {
  padding-bottom: 30px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
}

#waitModalPanel #waitModalForm img {
  margin-bottom: 30px !important;
  max-width: 80px !important;
}
/*# sourceMappingURL=newstyles.css.map */